{% extends 'base.twig' %}

{% block content %}
<div class="container-fluid mt-5">
	<div class="row">
		{% include 'admin/include/adminMenu.twig' %}

		<!-- Main Content -->
		<main class="col-md-12 ms-sm-auto col-lg-10 px-md-4">
			<!-- Header Section -->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"><i class="fas fa-poll me-2"></i> Création de réponses</h1>
            </div>

			<div class="rounded p-4 bg-white shadow-lg">
				<div class="row">
					<div class="col-2">
						<form method="POST" action="{{base_url}}/admin/questions/">
							<input type="text" class="form-control" name="QUIZ_ID" value="{{ verif('QUIZ_ID') }}" hidden />
							<input type="text" class="form-control" name="CATEGORIES_ID" value="{{ verif('CATEGORIES_ID') }}" hidden />
							<input type="text" class="form-control" name="QUESTIONS_ID" value="{{ verif('QUESTIONS_ID') }}" hidden />
							<button class="btn btn-primary"><i class="fas fa-chevron-left ms-2"></i> Retour aux Questions</button>
						</form>
					</div>
				</div>

				<div class="row g-4 text-secondary text-start">
					<h2>{{decrypt(quiz.TEXT)}}</h2>
					<h3 style="color:{{decrypt(categories.COLOR)}}">{{decrypt(categories.TEXT)}}</h3>
					<h4>{{decrypt(questions.TEXT)}}</h4>
				</div>

				<div class="row g-4 mt-4">
					<div class="col-md-6">
						<div class="p-4 border rounded bg-light shadow-sm">
							<form method="post">
								<legend class="fw-bold text-secondary mb-3">
                                    <i class="fas fa-tasks pt-3 pb-2 mb-3 border-bottom"></i> Actions Réponses
                                </legend>
								<div class="mb-3">
									<input type="text" class="form-control" name="QUIZ_ID" value="{{verif('QUIZ_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="CATEGORIES_ID" value="{{verif('CATEGORIES_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="QUESTIONS_ID" value="{{verif('QUESTIONS_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="ANSWERS_ID" value="{{verif('ANSWERS_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<select class="form-select" name="ANSWERS_ID" onChange="submit();" hidden>
										<option value="0" selected>Sélectionnez une réponse</option>
										{% for answer in answers %}
										<option value="{{ answer.ID }}" {% if verif('ANSWERS_ID') == answer.ID %}selected{% endif %}>
											{{ decrypt(answer.TEXT) }}
										</option>
										{% endfor %}
									</select>
								</div>
							</form>

							<button class="btn btn-success w-100 mb-3" type="button" id="NEW_ANSWERS">
                                <i class="fas fa-plus me-2"></i>Nouvelle Réponse
                            </button>

							 {% for answer in answers %}
							 <div class="d-flex align-items-center text-start justify-content-between mb-3">
								<span id="ANSWERS_{{ answer.ID }}" class="fw-bold text-secondary me-3">
                                    {{ decrypt(answer.TEXT) }}
                                </span>
								<div class="d-flex gap-2">
                                    <button name="ANSWERSEDIT_{{ answer.ID }}" class="btn btn-warning btn-sm btn-edit">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button name="ANSWERSDELETE_{{ answer.ID }}" class="btn btn-danger btn-sm btn-delete">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="p-4 border rounded bg-light shadow-sm">
							<form id="formAnswersCrea"  method="post">
								<legend class="fw-bold text-secondary mb-3">
                                    {% if verif("ANSWERS_ID") > 0 %}
                                    <i class="fas fa-file-edit pt-3 pb-2 mb-3 border-bottom"></i> Éditer Réponses
									{% else %}
									<i class="fas fa-file-alt pt-3 pb-2 mb-3 border-bottom"></i> Création Réponses
									{% endif %}
                                </legend>
								<div class="mb-3">
									<input type="text" class="form-control" name="QUIZ_ID" value="{{verif('QUIZ_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="CATEGORIES_ID" value="{{verif('CATEGORIES_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="QUESTIONS_ID" value="{{verif('QUESTIONS_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="ANSWERS_ID" value="{{verif('ANSWERS_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<textarea class="form-control" name="ANSWERS_TEXT" placeholder="Intitulé de la réponse" rows="3">{{ ((verif('ANSWERS_ID') > 0) ? decrypt(answers_edit.TEXT) : "") }}</textarea>
								</div>
								<div class="mb-3">
									{% for value, label in types %}
										<input type="radio" class="btn-check btn-type" name="ANSWERS_TYPE" id="TYPE_{{ value }}" autocomplete="off" value="{{ value }}" {{ selectedType == value ? 'checked onLoad="this.change()"' : '' }}>
										<label class="btn btn-outline-primary" for="TYPE_{{ value }}">{{ label }}</label>
									{% endfor %}
								</div>
								<div class="mb-3">
									<input type="number" class="form-control" name="ANSWERS_MIN" placeholder="MIN" value="{{ (verif('ANSWERS_ID') > 0) ? answers_edit.MIN : 0 }}" style="display:none;">
								</div>
								<div class="mb-3">
									<input type="number" class="form-control" name="ANSWERS_MAX" placeholder="MAX" value="{{ (verif('ANSWERS_ID') > 0) ? answers_edit.MAX : 0 }}" style="display:none;">
								</div>

								<div class="d-flex justify-content-between mb-3 mt-5">
									<button class="btn btn-success px-4" type="submit">
                                        <i class="fas fa-save me-3"></i>Sauvegarder
                                    </button>
								</div>
							</form>
						</div>
					</div>

					<div class="col-md-6 subanwser__div" style="display:none;">
						<!-- subanswers block -->
						<div class="p-4 border rounded bg-light shadow-sm">
							<form method="post">
								<legend class="fw-bold text-secondary mb-3">
                                    <i class="fas fa-tasks pt-3 pb-2 mb-3 border-bottom"></i> Actions Sous-Réponses
                                </legend>
								<div class="mb-3">
									<input type="text" class="form-control" name="QUIZ_ID" value="{{verif('QUIZ_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="CATEGORIES_ID" value="{{verif('CATEGORIES_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="QUESTIONS_ID" value="{{verif('QUESTIONS_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="ANSWERS_ID" value="{{verif('ANSWERS_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="SUBANSWERS_ID" value="{{verif('SUBANSWERS_ID')}}" hidden>
								</div>
								<select class="form-control mb-3" name="SUBANSWERS_ID" onChange="submit();" value="{{ verif('SUBANSWERS_ID')}}" hidden>
									<option value="0" {% if not verif('SUBANSWERS_ID') %}selected{% endif %}>Sélectionnez une sous-réponse</option>
									{% for subanswer in subanswers %}
									<option value="{{ subanswer.ID }}" {% if verif('SUBANSWERS_ID') == subanswer.ID %}selected{% endif %}>
										{{ decrypt(subanswer.TEXT) }}
									</option>
									{% endfor %}
								</select>
							</form>
							<button class="btn btn-success w-100 mb-3" type="button" id="NEW_SUBANSWERS">
								<i class="fas fa-plus me-2"></i>Nouvelle Sous-Réponse
							</button>

							{% for subanswer in subanswers %}
							<div class="d-flex align-items-center text-start justify-content-between mb-3">
								<span id="SUBANSWERS_{{ subanswer.ID }}" class="fw-bold text-secondary me-3">
									{{ decrypt(subanswer.TEXT) }}
								</span>
								<div class="d-flex gap-2">
									<button name="SUBANSWERSEDIT_{{ subanswer.ID }}" class="btn btn-warning btn-sm btn-edit">
										<i class="fas fa-edit"></i>
									</button>
									<button name="SUBANSWERSDELETE_{{ subanswer.ID }}" class="btn btn-danger btn-sm btn-delete">
										<i class="fas fa-trash"></i>
									</button>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>

					<div class="col-md-6 subanwser__div" style="display:none;">
						<!-- subanswers block -->
						<div class="p-4 border rounded bg-light shadow-sm">
							<form id="formSubAnswersCrea" method="post">
								<legend class="fw-bold text-secondary mb-3">
                                    {% if verif("SUBANSWERS_ID") > 0 %}
                                    <i class="fas fa-file-edit pt-3 pb-2 mb-3 border-bottom"></i> Éditer Sous-Réponses
									{% else %}
									<i class="fas fa-file-alt pt-3 pb-2 mb-3 border-bottom"></i> Création Sous-Réponses
									{% endif %}
                                </legend>
								<div class="mb-3">
									<input type="text" class="form-control" name="QUIZ_ID" value="{{verif('QUIZ_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="CATEGORIES_ID" value="{{verif('CATEGORIES_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="QUESTIONS_ID" value="{{verif('QUESTIONS_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="ANSWERS_ID" value="{{verif('ANSWERS_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="SUBANSWERS_ID" value="{{verif('SUBANSWERS_ID')}}" hidden>
								</div>
								<div class="mb-3">
									<textarea class="form-control" name="SUBANSWERS_TEXT" placeholder="Intitulé de la sous-réponse" rows="3">{{ ((verif('SUBANSWERS_ID') > 0) ? decrypt(subanswers_edit.TEXT) : "") }}</textarea>
								</div>

								<div class="d-flex justify-content-between mb-3 mt-5">
									<button class="btn btn-success px-4" type="submit">
                                        <i class="fas fa-save me-3"></i>Sauvegarder
                                    </button>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</main>
	</div>
</div>
{% endblock %}

{% block jquery %}
<script>
	$(function()
	{
		$(".btn-type").change(function() 
		{
			if($("#TYPE_1").is(":checked"))
			{
				$("input[name='ANSWERS_MIN'], input[name='ANSWERS_MAX']").show();
			}
			else
			{
				$("input[name='ANSWERS_MIN'], input[name='ANSWERS_MAX']").hide();
			}
			
			if($("#TYPE_3").is(":checked"))
			{
				$(".subanwser__div").show();
			}
			else
			{
				$(".subanwser__div").hide();
			}
			
		});
		
		
		$("#NEW_ANSWERS").click(function()
		{
			$("select[name='ANSWERS_ID']").val(0).trigger('change');
		});
		
		$("#NEW_SUBANSWERS").click(function()
		{
			$("select[name='SUBANSWERS_ID']").val(0).trigger('change');
		});
		
		$(".btn-edit, .btn-save, .btn-delete").click(function() 
		{
			var_cat = $(this).attr('name').split("_")[0];
			var_id = $(this).attr('name').split("_")[1];
			
			console.log($(this).attr("name"));
			
			switch(var_cat)
			{
				//answer
				case "ANSWERSEDIT":
					$("select[name='ANSWERS_ID']").val(var_id).trigger('change');
					
					
					break;
					
					
				case "ANSWERSDELETE":
					if (confirm('Voullez-vous vraiment supprimer la réponse : ( ' + $('#ANSWERNAME_' + var_id).html() + " ) ?")) 
					{
					  $.ajax
						(
							{
								dataType: "JSON",
								method:"POST",
								url:"{{base_url}}/questorium/ajax/answersdel/" + var_id,
								data:{"ANSWERS_DEL" : var_id},
								success: function(data) 
								{
									
								},
								complete: function() 
								{
									window.location.reload()
								},
								error: function() 
								{
									
								}
							}
						);
					}
					break;
						
				case "SUBANSWERSEDIT":
					$("select[name='SUBANSWERS_ID']").val(var_id).trigger('change');
					break;
					
				case "SUBANSWERSDELETE":
					if (confirm('Voullez-vous vraiment supprimer la sous réponse : (' + var_id + ') ?')) 
					{
					  $.ajax
						(
							{
								dataType: "JSON",
								method:"POST",
								url:"{{base_url}}/questorium/ajax/subanswersdel/" + var_id,
								data:{"SUBANSWERS_DEL" : var_id},
								success: function(data) 
								{
									
								},
								complete: function() 
								{
									window.location.reload()
								},
								error: function() 
								{
									
								}
							}
						);
					}
					break;
			}
		});
		
		//Answers
		$("#formAnswersCrea").submit(function(event) 
		{
			event.preventDefault();
			$.ajax
			(
				{
					dataType: "JSON",
					method:"POST",
					url:"{{base_url}}/questorium/ajax/answers",
					data:$("#formAnswersCrea").serialize(),
					success: function(data) 
					{
						
					},
					complete: function() 
					{
						window.location.reload()
					},
					error: function() 
					{
						
					}
				}
			);
		});
		
		//SubAnswers
		$("#formSubAnswersCrea").submit(function(event) 
		{
			event.preventDefault();
			$.ajax
			(
				{
					dataType: "JSON",
					method:"POST",
					url:"{{base_url}}/questorium/ajax/answers",
					data:$("#formSubAnswersCrea").serialize(),
					success: function(data) 
					{
						
					},
					complete: function() 
					{
						window.location.reload()
					},
					error: function() 
					{
						
					}
				}
			);
		});
		
		
		
		var selectedType = {{selectedType}};
		console.log(selectedType);
		if(selectedType > 0)
		{
			$("input[name='ANSWERS_TYPE'][value='" + selectedType + "']").trigger("change");
		}
	});
</script>
{% endblock %}