{% extends 'base.twig' %}

{% block title %}Paramètres{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{base_url}}{{ asset('css/settings.css') }}">
<style>
    .switch input:checked + .slider {
        background-color: {{ config('SITE.site_color_1.value') }};
    }
    /* Personnalisation du curseur */
    .custom-range {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 8px;
        background: #ddd;
        border-radius: 5px;
        outline: none;
        transition: background-color 0.3s ease;
    }

    /* Rendre le curseur plus visible et attrayant */
    .custom-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: {{ config('SITE.site_color_1.value') }};
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    /* Ajustement pour Firefox */
    .custom-range::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: {{ config('SITE.site_color_1.value') }};
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    /* Effet de transformation sur le thumb au survol */
    .custom-range:hover::-webkit-slider-thumb,
    .custom-range:hover::-moz-range-thumb {
        background: darken({{ config('SITE.site_color_1.value') }}, 10%);
        transform: scale(1.2); /* Effet de zoom pour un retour visuel dynamique */
    }

    /* Barre de curseur colorée lorsque l'utilisateur interagit */
    .custom-range:active {
        background: linear-gradient(to right, {{ config('SITE.site_color_1.value') }} 0%, {{ config('SITE.site_color_2.value') }} 100%);
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Menu latéral -->
        {% include 'admin/include/adminMenu.twig' %}

        <!-- Main content -->
        <main class="col-md-9 col-lg-9 px-md-4">
            <!-- Header Section -->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="text-center mb-4"><i class="fas fa-cogs me-2"></i> Paramètres de l'application</h1>
            </div>

            <form method="POST">
                {% for category in settings_categories %}
                    <div class="category-card mb-3">
                        <!-- Bouton pour replier/déplier -->
                        <h2 class="d-flex justify-content-between align-items-center text-start" style="color:{{ config('SITE.site_color_1.value') }};">
                            <span><i class="fa {{category.ICON}}"></i> {{ category.DESCRIPTION }}</span>
                            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategory{{ category.ID }}" aria-expanded="false" aria-controls="collapseCategory{{ category.ID }}">
                                <i class="fas fa-chevron-down"></i>
                            </button>
                        </h2>

                        <!-- Contenu de la catégorie avec collapse -->
                        <div id="collapseCategory{{ category.ID }}" class="collapse">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                    {% if config('SITE.debug.value') %}
                                        <th class='col-2'>Clé</th>
                                    {% endif %}
                                        <th class='col-6'>Description</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set category_settings = grouped_settings[category.ID] ?? [] %}

                                    {% if category_settings is empty %}
                                        <tr>
                                            <td colspan="3">Aucun paramètre pour cette catégorie.</td>
                                        </tr>
                                    {% else %}
                                        {% for setting in category_settings %}
                                            <tr>
                                            {% if config('SITE.debug.value') %}
                                                <td>{{ setting.NAME }}</td>
                                            {% endif %}
                                                <td><strong>{{ setting.DESCRIPTION ?: setting.NAME }}</strong></td>
                                                <td>
                                                    {% if setting.TYPE == 'text' %}
                                                        <input type="text" id="{{ setting.NAME }}" name="data[{{category.NAME}}][{{ setting.NAME }}]" class="form-control" {% if setting.VALUE is empty %} placeholder="Pas de valeurs" {% endif %} value="{{ setting.VALUE }}">
                                                    {% elseif setting.TYPE == 'mail' %}
                                                        <input type="email" id="{{ setting.NAME }}" name="data[{{category.NAME}}][{{ setting.NAME }}]" class="form-control" {% if setting.VALUE is empty %} placeholder="Pas de valeurs" {% endif %} value="{{ setting.VALUE }}">
                                                    {% elseif setting.TYPE == 'phone' %}
                                                        <input type="tel" id="{{ setting.NAME }}" name="data[{{category.NAME}}][{{ setting.NAME }}]" class="form-control" {% if setting.VALUE is empty %} placeholder="Pas de valeurs" {% endif %} value="{{ setting.VALUE }}">
                                                    {% elseif setting.TYPE == 'checkbox' %}
                                                        <label class="switch">
                                                            <input type="hidden" name="data[{{category.NAME}}][{{ setting.NAME }}]" value="0">
                                                            <input type="checkbox" id="{{ setting.NAME }}" name="data[{{category.NAME}}][{{ setting.NAME }}]" value="1" class="slider" {% if setting.VALUE == '1' %}checked{% endif %}>
                                                            <span class="slider"></span>
                                                        </label>
                                                    {% elseif setting.TYPE == 'color' %}
                                                        <div class="mb-3">
                                                            <input class="form-control form-control-color" type="color" id="{{ setting.NAME }}" name="data[{{ category.NAME }}][{{ setting.NAME }}]" value="{{ setting.VALUE }}">
                                                        </div>
                                                    {% elseif setting.TYPE == 'number' %}
                                                        <input type="number" id="{{ setting.NAME }}" name="data[{{category.NAME}}][{{ setting.NAME }}]" class="form-control" value="{{ setting.VALUE }}">
                                                    {% elseif setting.TYPE == 'date' %}
                                                        <input type="date" id="{{ setting.NAME }}" name="data[{{category.NAME}}][{{ setting.NAME }}]" class="form-control" value="{{ setting.VALUE }}">
                                                    {% elseif setting.TYPE == 'datetime-local' %}
                                                        <input type="datetime-local" id="{{ setting.NAME }}" name="data[{{category.NAME}}][{{ setting.NAME }}]" class="form-control" value="{{ setting.VALUE }}">
                                                    {% elseif setting.TYPE == 'range' %}
                                                        <div class="mb-3 row position-relative">
                                                            <div class="col-10">
                                                                <input type="range" 
                                                                       id="{{ setting.NAME }}" 
                                                                       name="data[{{category.NAME}}][{{ setting.NAME }}]" 
                                                                       class="form-range custom-range" 
                                                                       value="{{ setting.VALUE }}" 
                                                                       min="0" 
                                                                       max="360" 
                                                                       oninput="updateRangeValue(this)">
                                                            </div>
                                                            <div class="col-2 d-flex justify-content-center align-items-center">
                                                                <span id="range-value-{{ setting.NAME }}" 
                                                                      class="range-value fs-5" 
                                                                      style="font-weight: bold; color: {{ config('SITE.site_color_1.value') }}; white-space: nowrap;">
                                                                    {{ setting.VALUE }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <input type="text" id="{{ setting.NAME }}" name="data[{{category.NAME}}][{{ setting.NAME }}]" class="form-control" value="{{ setting.VALUE }}">
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}

                <!-- Bouton "Mettre à jour" -->
                <div class="fixed-button">
                    <button type="submit" class="btn-primary btn-sm ml-2" value="1" style="background-color:{{ config('SITE.site_color_1.value') }};">Mettre à jour</button>
                </div>
            </form>
        </main>
    </div>
</div>

{% endblock %}

{% block jquery %}
<script>
    function updateRangeValue(input) {
        // Met à jour la valeur dynamique du span en fonction du range
        const rangeValueElement = document.getElementById('range-value-' + input.id);
        rangeValueElement.textContent = input.value;
    }
</script>
{% endblock %}
