<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config('SITE.site_name.value') }}</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <!-- AOS (Animate on Scroll) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    
    <!-- Hover.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Raleway:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{base_url}}{{ asset('css/base.css') }}">
    
    <style>
        header 
        {
            background: linear-gradient({{ config('SITE.site_color_angle.value') }}deg, {{ config('SITE.site_color_1.value') }}, {{ config('SITE.site_color_2.value') }});
            color: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        footer 
        {
            background: linear-gradient({{ config('SITE.site_color_angle.value') }}deg, {{ config('SITE.site_color_1.value') }}, {{ config('SITE.site_color_2.value') }});
            color: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        /* --- HERO SECTION --- */
        .hero 
        {
            min-height: 100vh;
            align-items: center;
            justify-content: center;
            background: linear-gradient({{ config('SITE.site_color_angle.value') }}deg, {{ config('SITE.site_color_1.value') }}, {{ config('SITE.site_color_2.value') }});
            color: white;
            text-align: center;
            background-attachment: fixed; /* Pour garder l'arrière-plan fixe pendant le défilement */
        }
        /* Survol des éléments du menu */
        .nav-item a:hover 
        {
            background-color:{{ config('SITE.site_color_1.value') }}; /* Fond sombre au survol */
            transform: translateX(5px); /* Déplacer légèrement le lien vers la droite au survol */
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre portée subtile */
            color: #ecf0f1; /* Changer la couleur du texte au survol */
        }
    </style>

    {% block style %}
    {% endblock %}
</head>
<body>

    <!-- Header Section -->
    <header class="py-3 bg-dark">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Logo or Title -->
                {% if config('SITE.site_logo.value') %}
                    <a class="navbar-brand text-center my-4 me-3" href="{{ base_url }}/accueil">
                        <div class="d-inline-block rounded-circle overflow-hidden shadow-sm logo-container">
                            <img src="{{ base_url }}{{ asset(config('SITE.site_logo.value')) }}" class="img-fluid logo-img" alt="Logo" />
                        </div>
                    </a>
                {% endif %}
                <span class="navbar-subtext text-secondary me-5">
                    <a class="navbar-brand brand" href="{{ base_url }}/accueil">
                        <h1 class="h4 text-white mb-0 site-title">{{ config('SITE.site_name.value') }}</h1>
                    </a>
                    <br />
                    <span class="subbrand">
                        <h2 class="h5 text-white mb-0">{{ config('SITE.brand.value') }}</h2>
                    </span>
                </span>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {{menu | raw}}
                    </ul>

                     <!-- Connexion Button -->
                    <ul class="nav">
                        {% if is_login %}
                            <li class="nav-item">
                                <a href="{{base_url}}/logout" class="btn btn-outline-light">
                                    <i class="fas fa-sign-out-alt me-2"></i> Déconnexion
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{base_url}}/login" class="btn btn-outline-light">
                                    <i class="fas fa-sign-in-alt me-2"></i> Connexion
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!-- Main Content -->
    <main class="pt-3 pb-3 hero" id="main-content">
        <section class="" data-aos="fade-up">
            <div class="row">
                <div class="col-md-10 offset-1">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </section>
    </main>

    

    <!-- Footer Section -->
    <footer class="py-2">
        <div class="container text-center">
            {% if config('SOCIALNETWORK.sn_facebook.value') and config('SOCIALNETWORK.sn_instagram.value') and config('SOCIALNETWORK.sn_linkedin.value') and config('SOCIALNETWORK.sn_x.value') %}
            <div class="social-buttons mb-3">
                {% if config('SOCIALNETWORK.sn_facebook.value') %}
                    <a href="{{ config('SOCIALNETWORK.sn_facebook.value') }}"><i class="fab fa-facebook"></i></a>
                {% endif %}

                {% if config('SOCIALNETWORK.sn_instagram.value') %}
                    <a href="{{ config('SOCIALNETWORK.sn_instagram.value') }}"><i class="fab fa-instagram"></i></a>
                {% endif %}
                
                {% if config('SOCIALNETWORK.sn_linkedin.value') %}
                    <a href="{{ config('SOCIALNETWORK.sn_linkedin.value') }}"><i class="fab fa-linkedin"></i></a>
                {% endif %}

                {% if config('SOCIALNETWORK.sn_x.value') %}
                    <a href="{{ config('SOCIALNETWORK.sn_x.value') }}"><i class="fab fa-x-twitter"></i></a>
                {% endif %}
            </div>
            {% endif %}
            <p>&copy; 2022 - {{ date | date('Y') }} {{ config('SITE.site_name.value') }}. Tous droits réservés.</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init({
        });
    </script>
    
    {% block jquery %}

    {% endblock %}
</body>
</html>
